<div class="options-container">
    <p class="todos-left">{{ userLeft }} تعداد</p>
    <ul class="main-options">
      @for(option of userOptions; track $index) {
      <li>
        <button
          class="option-btn option-btn--primary"
          [ngClass]="{ active: option === selectedOption() }"
          (click)="onSelectOption(option)"
        >
          {{ option | titlecase }}
        </button>
      </li>
      }
    </ul>
    <button class="option-btn option-btn--secondary" (click)="onClearCompleted()">
      پاک کردن کل لیست
    </button>
  </div>
  