.todo-card {
    max-width: 54rem;
    margin: 0 auto;
  }

  .todo-main {
    background-color: var(--bg-todo-color);
    border-radius: 0.5rem;
    box-shadow: 0 3.5rem 5rem -1.5rem var(--shadow-color);
    transition: all 0.3s;
  }

  .main {
    padding: 7rem 0 11.5rem 0;
    
    background-image: var(--bg-desktop-image);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--bg-color);
    
    transition: all 0.3s;
    min-height: 100vh;
  }

  @media (max-width: 40em) {
    .main {
      padding: 4.8rem 2.4rem;
      background-image: var(--bg-mobile-image);
    }
  }