<div class="container-fluid mb-5 " >
  <div class="row mb-5"  >
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5"  >
      <div class="nga-card">
        <h1 class="h5 card-header text-center py-4" >
          <i class="fas fa-user-plus me-4"></i><strong > ثبت نام </strong>
        </h1>
        <div class="card-body px-lg-5 pt-4">
          <form>
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-2">
                  <div class="form-floating" >
                    <input
                    
                      type="username"
                      class="form-control form-control-sm"
                      formControlName="username"
                      id="name"
                      placeholder=""
                    />
                    <label for="floatingInput"> نام کاربری</label>
                  </div>
                </div>
                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="name"
                      class="form-control form-control-sm"
                      formControlName="name"
                      id="name"
                      placeholder=""
                    />
                    <label for="floatingInput">نام </label>
                  </div>
                </div>
                <div class="md-form mb-2">
                    <div class="form-floating">
                      <input
                        type="lastName"
                        class="form-control form-control-sm"
                        formControlName="lastName"
                        id="lastName"
                        placeholder=""
                      />
                      <label for="floatingInput">نام خانوادگی</label>
                    </div>
                  </div>
                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="password"
                      class="form-control form-control-sm"
                      formControlName="password"
                      id="password"
                      placeholder=""
                    />
                    <label for="floatingInput">پسورد</label>
                  </div>
                </div>
                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="confirmPassword"
                      class="form-control form-control-sm"
                      formControlName="confirmPassword"
                      id="confirmPassword"
                      placeholder=""
                    />
                    <label for="floatingInput">تکرار پسورد</label>
                  </div>
                </div>

                <div class="md-form mb-2">
                  <div class="form-floating">
                    <select class="form-select" aria-label="Default select example">
                      <!-- <option selected>نوع کاربر</option> -->
                      <option value="1" selected>ادمین</option>
                      <option value="2">کاربر معمولی</option>
                    
                    </select>
                    
                  </div>
                </div>
                
                <div class="d-flex justify-content-center align-items-center">
                  <button class="w-50  btn btn-primary my-3" type="submit" style="height: 45px;">
                    ثبت نام
                    <i class="fas fa-user-plus"></i>
                  </button>
                </div>

              
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
