.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    font-family:'iran_sans' ;
  }

  .header-title {
    color:var(--text-color-header);
    font-size: 6rem;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: 0.45rem;
  }
  @media (max-width: 40em) {
    .header-title {
      font-size: 2.5rem;
      line-height: 2rem;
        letter-spacing: 0.30rem;
    }
  }